In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv("C:/Users/Lenowo/Desktop/archive/supermarket_sales - Sheet1.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [45]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-19,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-19,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [46]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [47]:
#df[["Day", "Month", "year"]] = df["Date"].str.split("/",expand=True)
#agg=df.groupby(['Month'])

In [48]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-19,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-19,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [49]:
#df["Date"]=pd.to_numeric(df["Date"])

In [50]:
df["actual_Price"] =(df["Quantity"]) * (df["Unit price"]) 
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,actual_Price
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,40.35
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-19,17:16,Ewallet,973.80,4.761905,48.6900,4.4,973.80
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-19,13:22,Cash,31.84,4.761905,1.5920,7.7,31.84
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,65.82
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,618.38

In [51]:
#df["Date"].unique()

In [52]:
len(df)

1000

In [53]:
# female_beauty= df[(df.Product line =="Health and beauty")]
# female_beauty

In [54]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating', 'actual_Price'],
      dtype='object')

In [55]:
df2 = df.rename({'Invoice ID': 'Invoice_ID','Customer type' :'Customer_type','Product line':'Product_line','Unit price':'Unit_price',
                       'Tax 5%':'Tax_5%','gross margin percentage':'gross_margin_percentage','gross income':'gross_income'}, axis="columns")

In [56]:
df2

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,actual_Price
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,03-08-19,10:29,Cash,76.40,4.761905,3.8200,9.6,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,03-03-19,13:23,Credit card,324.31,4.761905,16.2155,7.4,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,02-08-19,10:37,Ewallet,604.17,4.761905,30.2085,5.3,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2,40.35
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,03-02-19,17:16,Ewallet,973.80,4.761905,48.6900,4.4,973.80
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,02-09-19,13:22,Cash,31.84,4.761905,1.5920,7.7,31.84
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1,65.82
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6,618.38

In [57]:
#1.Between male and female who uses more health and beauty products

df3= df2[(df2.Product_line== "Health and beauty") & (df2.Gender=="Female")]
df3

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,actual_Price
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,01-05-19,13:08,Ewallet,522.83,4.761905,26.1415,9.1,522.83
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,01-10-19,17:15,Credit card,72.52,4.761905,3.6260,7.2,72.52
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7,713.80
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,03-11-19,11:03,Credit card,482.51,4.761905,24.1255,4.6,482.51
38,333-73-7901,C,Naypyitaw,Normal,Female,Health and beauty,54.92,8,21.9680,461.3280,3/23/2019,13:24,Ewallet,439.36,4.761905,21.9680,7.6,439.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,397-25-8725,A,Yangon,Member,Female,Health and beauty,39.62,9,17.8290,374.4090,1/13/2019,17:54,Credit card,356.58,4.761905,17.8290,6.8,356.58
936,433-08-7822,C,Naypyitaw,Normal,Female,Health and beauty,78.89,7,27.6115,579.8415,01-05-19,19:48,Ewallet,552.23,4.761905,27.6115,7.5,552.23
938,131-70-8179,A,Yangon,Member,Female,Health and beauty,92.09,3,13.8135,290.0835,2/17/2019,16:27,Cash,276.27,4.761905,13.8135,4.2,276.27
968,605-03-2706,A,Yangon,Normal,Female,Health and beauty,15.80,3,2.3700,49.7700,3/25/2019,18:02,Cash,47.40,4.761905,2.3700,9.5,47.40
986,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.761905,1.4760,4.3,29.52

In [58]:
total_female= df3.groupby('Gender')['actual_Price'].sum().sort_values(ascending=False)
total_female[0]

17677.13

In [59]:
# tot_female = total_female['actual_Price'].sum()
# tot_female

In [60]:
df4=df2[(df2.Gender=='Male')& (df2.Product_line=='Health and beauty')]
df4.head(2)

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,actual_Price
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489.048,1/27/2019,20:33,Ewallet,465.76,4.761905,23.288,8.4,465.76
21,371-85-5789,B,Mandalay,Normal,Male,Health and beauty,87.98,3,13.197,277.137,03-05-19,10:40,Ewallet,263.94,4.761905,13.197,5.1,263.94

In [61]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 3 to 995
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice_ID               88 non-null     object
 1   Branch                   88 non-null     object
 2   City                     88 non-null     object
 3   Customer_type            88 non-null     object
 4   Gender                   88 non-null     object
 5   Product_line             88 non-null     object
 6   Unit_price               88 non-null     float64
 7   Quantity                 88 non-null     int64
 8   Tax_5%                   88 non-null     float64
 9   Total                    88 non-null     float64
 10  Date                     88 non-null     object
 11  Time                     88 non-null     object
 12  Payment                  88 non-null     object
 13  cogs                     88 non-null     float64
 14  gross_margin_percentage  88 non-null     float64
 15  gross_income             88 non-null     float64
 16  Rating                   88 non-null     float64
 17  actual_Price             88 non-null     float64
dtypes: float64(8), int64(1), object(9)
memory usage: 13.1+ KB

In [62]:
df4["Date"]=pd.to_datetime(df4["Date"])

<ipython-input-62-07ebd76222f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Date"]=pd.to_datetime(df4["Date"])

In [63]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88 entries, 3 to 995
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice_ID               88 non-null     object
 1   Branch                   88 non-null     object
 2   City                     88 non-null     object
 3   Customer_type            88 non-null     object
 4   Gender                   88 non-null     object
 5   Product_line             88 non-null     object
 6   Unit_price               88 non-null     float64
 7   Quantity                 88 non-null     int64
 8   Tax_5%                   88 non-null     float64
 9   Total                    88 non-null     float64
 10  Date                     88 non-null     datetime64[ns]
 11  Time                     88 non-null     object
 12  Payment                  88 non-null     object
 13  cogs                     88 non-null     float64
 14  gross_margin_percentage  88 non-null     float64
 15  gross_income             88 non-null     float64
 16  Rating                   88 non-null     float64
 17  actual_Price             88 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(8)
memory usage: 13.1+ KB

In [64]:
df4["Day"]=df4["Date"].dt.day
df4["Month"]=df4["Date"].dt.month
df4["Year"]=df4["Date"].dt.year

<ipython-input-64-0c394c29659d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Day"]=df4["Date"].dt.day
<ipython-input-64-0c394c29659d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Month"]=df4["Date"].dt.month
<ipython-input-64-0c394c29659d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Year"]=df4["Date"].dt.year

In [65]:
df4

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,...,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating,actual_Price,Day,Month,Year
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,20:33,Ewallet,465.76,4.761905,23.2880,8.4,465.76,27,1,2019
21,371-85-5789,B,Mandalay,Normal,Male,Health and beauty,87.98,3,13.1970,277.1370,...,10:40,Ewallet,263.94,4.761905,13.1970,5.1,263.94,5,3,2019
29,848-62-7243,A,Yangon,Normal,Male,Health and beauty,24.89,9,11.2005,235.2105,...,15:36,Cash,224.01,4.761905,11.2005,7.4,224.01,15,3,2019
33,595-11-5460,A,Yangon,Normal,Male,Health and beauty,96.58,2,9.6580,202.8180,...,10:12,Credit card,193.16,4.761905,9.6580,5.1,193.16,15,3,2019
44,617-15-4209,C,Naypyitaw,Member,Male,Health and beauty,15.37,2,1.5370,32.2770,...,19:47,Cash,30.74,4.761905,1.5370,7.2,30.74,16,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,809-46-1866,A,Yangon,Normal,Male,Health and beauty,58.15,4,11.6300,244.2300,...,17:44,Cash,232.60,4.761905,11.6300,8.4,232.60,23,1,2019
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,...,10:33,Cash,699.72,4.761905,34.9860,6.1,699.72,23,1,2019
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,...,19:08,Credit card,496.00,4.761905,24.8000,6.2,496.00,3,1,2019
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,...,15:46,Credit card,602.96,4.761905,30.1480,8.4,602.96,28,1,2019
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,...,13:46,Ewallet,40.35,4.761905,2.0175,6.2,40.35,29,1,2019

In [67]:
df4.columns

Index(['Invoice_ID', 'Branch', 'City', 'Customer_type', 'Gender',
       'Product_line', 'Unit_price', 'Quantity', 'Tax_5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'Rating', 'actual_Price', 'Day', 'Month', 'Year'],
      dtype='object')

In [68]:
#df4.drop(["(Day, Month, Year)"], axis="columns", inplace=True)

In [ ]:
male_total = df4.groupby('Gender')['actual_Price'].sum().sort_values(ascending=False)
male_total[0]

In [ ]:
map1 = pd.Series([total_female[0], male_total[0]])
diag = map1.plot(kind= "pie")
#diag.columns=["Gender","map1"]
diag

In [ ]:
map1

In [ ]:
type(map1)

In [ ]:
name = ["female", "male"]
map1.index = name
map1

In [ ]:
df_val = map1.reset_index()
df_val

In [ ]:
df_val.columns = ["sex", "total_score"]

In [ ]:
df_val

In [ ]:
plt.pie(df_val['total_score'], labels=df_val["sex"], autopct="%1.1f%%")
plt.show()

In [ ]:
diag1= df["Gender"].value_count().head().reset_index()
diag1=diag.columns=["Gender","map1"]
diag1

In [ ]:
#2.Male and Female who uses home/lifestyle products.
male_uses_hlp = df2[(df2.Gender== "Male") & (df2.Product_line=='Home and lifestyle')]
male_uses_hlp.head(2)

In [ ]:
male_tot_4hlp = male_uses_hlp.groupby('Gender')['actual_Price'].sum().sort_values(ascending=False)
male_tot_4hlp

In [ ]:
female_uses_hlp = df2[(df2.Gender== "Female") & (df2.Product_line=='Home and lifestyle')]
female_uses_hlp

In [ ]:
Female_tot_4hlp = female_uses_hlp.groupby('Gender')['actual_Price'].sum().sort_values(ascending=False)
Female_tot_4hlp

In [ ]:
#3 In the city of Mandalay, how much quantity of food and beverages was consumed between january to september.
mandalay_food_beverages = df2[(df2.City=='Mandalay') & (df2.Product_line=='Food and beverages')]
mandalay_food_beverages

In [ ]:
jan_sep =mandalay_food_beverages['Date']
jan_sep

In [ ]:
max_date =mandalay_food_beverages['Date'].max()
max_date

In [ ]:
min_date = mandalay_food_beverages['Date'].min()
min_date

In [ ]:
date_val = mandalay_food_beverages[(mandalay_food_beverages.Date >= '01-01-19') & (mandalay_food_beverages.Date <= '3/30/2019')]
date_val

In [ ]:
quant_bev = date_val.groupby('Product_line')['Quantity'].sum().sort_values(ascending=False)
quant_bev

In [ ]:
#4 Which is the most used mode of payment for sport and travel items in Yangon
#md_of_payment = df2[(df2.)]

In [ ]:
df2['Payment'].unique()

In [ ]:
yangon_data = df2[(df2.City=='Yangon') & (df2.Product_line=='Sports and travel')]
yangon_data

In [ ]:
most_ump = yangon_data.groupby('Payment')['actual_Price'].sum().sort_values(ascending=False)
most_ump

In [ ]:
#5 In Yangon which mode of payment is mostly preferred and which sex prefers it most.

In [ ]:
sex_preferred = df2[(df2.City =='Yangon') & (df2.Payment=='Ewallet')]
sex_preferred

In [ ]:
most = sex_preferred.groupby('Gender')['actual_Price'].sum().sort_values(ascending= False)
most